body{
	font:12px Arial;
	line-height: 2em;
	color: grey;
}
a{
	color:#727272 ;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.lanmu{
	color:white;
	font-weight: bold;
	font-size: 14px;

}
.lanmu:hover{
	color: #b9f605;
	text-decoration: none;


}

.gaikuang{
	font-size:14px;
}
.gaikuang:hover{
	text-decoration: none;
	color: #b9f605;
}
ul{
	list-style-type: none;
	
}
.list{
	list-style-type: disc;
	line-height: 40px;

}
.text-a{
	text-align: center ;
}
.b3{
	background-image: url(../image/menutitle.gif);
	
	line-height: 40px;
	text-indent: 2.5em;
}
.dsj{
	background-image: url(../image/menuhover.gif);
	
	line-height: 40px;
	

}
.line{
	background-image: url(../image/line.gif);
	background-repeat: repeat;
	text-align: center;


}
#line{
	background-image: url(../image/line.gif);
	background-repeat: repeat;
	text-align: center;

}
.lineh{
	line-height: 40px;
}
.li{
	list-style-type: none;
	text-align: right;
}
.b4{
	background-image: url(../image/pre.gif);
	 line-height: 41px;	
}
.b5{
	background-image: url(../image/pagebg_1.gif);

}


